{% extends 'base-backend.html.twig'%}

{% block title %}New Room{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_room_index') }}" class="btn btn-dark btn-sm mb-2">Retour à la liste</a>
    <h1>Create new Room</h1>
   
    {{ include('admin_room/_form.html.twig') }}


{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/image-upload.js')}}"></script>
<script src="{{ asset('js/add-item-link.js')}}"></script>
{% endblock %}

